{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <h1 id="test">Este es el index</h1>

    <button type="button" class="btn btn-primary" id="login">Iniciar sesion</button>
    <button type="button" class="btn btn-primary" id="register">Registrarse</button>
    
    <img src="{{ url_for('static', filename='js.png') }}" alt="Logo">

    <div class="cotainer-content" id="contenedor">

    </div>

    <form id="search-form">
        <h1>Buscar libro</h1>

        <input type="text" placeholder="Titulo" id="query" name="query">
        <button type="submit">Buscar</button>
    </form>

    <div id="results">
        <!--Mostrara los resultados de la busqueda-->
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='api.js') }}"></script>
{% endblock %}